<form [formGroup]="createNote">
<div fxLayout="column" fxLayoutAlign="start center" class="main-div">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="none end" *ngIf="show" class="title-section">
            <input name="text" id="text" class="note-section" placeholder="Title" formControlName="title"
                type="text">
                <img src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg" alt="">
        </div>
        <div *ngIf="show || !show" (click)="isShow()" fxLayout="row" fxLayoutAlign="space-between center">
            <input name="text" id="text" class="note-section" placeholder="Take a note" formControlName="description">
                <div class="icons" *ngIf="!show" >
                    <img  height="25px" width="25px" src="../../../assets/check_box_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                    <img height="25px" width="25px" src="../../../assets/brush_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                    <img height="25px" width="25px" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                 </div>
        </div>
        <div *ngIf="show" fxLayout="row" fxLayoutAlign="space-evently end">
            <app-icon></app-icon>
            <button mat-button class="btn-close" (click)="close()">Close</button>
        </div>
    </mat-card>
</div>
</form>