<div fxLayout="column" fxLayoutAlign="space-between center" class="mainDiv">
        <div fxLayout="column" fxLayoutAlign="space-around" class="innerDiv">
            <div fxLayout="column" fxLayoutAlign="center center">
                <h1>
                    <span style="color: blue;">F</span>
                    <span style="color: red;">u</span>
                    <span style="color: yellow;">n</span>
                    <span style="color: green;">d</span>
                    <span style="color: red;">o</span>
                    <span style="color: blue;">o</span>
                </h1>
                <h1 class="section-chnage-pass">Reset Password</h1>
            </div>
            
            <div fxLayout="column" fxLayoutAlign="center center" class="section-createPass">
                <mat-form-field appearance="outline" style="width:135%">
                    <mat-label>New password</mat-label>
                    <input matInput placeholder="" type="password" formControlName="password">
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width:135%">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="" type="password" formControlName="confirmPassword">
                    <mat-error> password is required</mat-error>
                    <mat-hint class="passward-indicator-text">At least 8 characters </mat-hint>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxLayoutAlign="none end" class="btn-layout">
                <button style="background-color:rgb(0, 115, 255);">
                    Reset</button>
            </div>
        </div>
    </div>
