.outer{
    padding: 10px 10px 10px 10px;
    border-radius: 8px ;
    margin-top: 2.5%;
    margin-left: 35%;
    margin-right: 35%;
    border:1px solid rgb(189, 186, 186);
    height: 50vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid rgb(222, 214, 214);
}
.email{
    width: 50vh;
}
.next{
    border: 1px solid white;
    width: 100%;
}
.mainDiv-xs{
    width: 100%;
    height:100%;
    // background-color: aqua;
    border: 0px solid rgb(220, 213, 213);
    margin-top: 2.5%;
    margin-left: -10%;
    margin-right: 50%;
    // position: relative;
}
.input-xs{
    width:90%;
    height:90px;
    font-size: 11px;
    // background-color: blue;
}
.InnerDiv-xs{
    width: 60%;
    height:90%;
    position:relative;
    left: 50px;
}