<div class="outer">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h1>
                        <span style="color: blue;">F</span>
                        <span style="color: red;">u</span>
                        <span style="color: yellow;">n</span>
                        <span style="color: green;">d</span>
                        <span style="color: red;">o</span>
                        <span style="color: blue;">o</span>
                    </h1>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <h2 class="h2">Forgot Password</h2>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-hint>Enter your recovery email</mat-hint>
                </div>


            </div>
            <br />
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" class="email">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="" type="email" formControlName="Email">
                    <mat-error>Email is required</mat-error>
                </mat-form-field>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="end center" class="next">
            <button mat-flat-button color="primary">Next</button>
        </div>

    </div>
</form>
</div>
