<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
<div fxLayout="row" fxLayoutAlign="center" class="mainDiv" ngClass.xs="mainDiv-xs" ngClass.sm="mainDiv-xs" ngClass.md="mainDiv-xs" ngClass.lg="mainDiv-xs">
    <div fxLayout="column" fxLayoutAlign="space-around" class="innerDiv" ngClass.xs="innerDiv-xs" ngClass.sm="innerDiv-xs" ngClass.md="innerDiv-xs" ngClass.lg="innerDiv-xs">
        <div>
            <h1>
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: green;">d</span>
                <span style="color: red;">o</span>
                <span style="color: blue;">o</span>
            </h1>
        </div>
        <div class="innerDiv">
            <h1 class="account">Create your Fundoo Account</h1>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="space-between center">
            <mat-form-field appearance="outline" ngClass.xs="input-xs" ngClass.sm="input-xs" ngClass.md="input-xs" ngClass.lg="input-xs">
                <mat-label>First name</mat-label>
                <input matInput placeholder="firstname" formControlName="firstName">
                <mat-error>First Name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="margin-left: 13px;" ngClass.xs="input-xs" ngClass.sm="input-xs" ngClass.md="input-xs" ngClass.lg="input-xs">
                <mat-label> Last name</mat-label>
                <input matInput placeholder="Last Name" type="name" formControlName="lastName">
                <mat-error>Last Name is required</mat-error>
            </mat-form-field>
        </div>
        <div class="innerDiv">
            <mat-form-field appearance="outline" style="width:100% ;" ngClass.xs="input-xs" ngClass.sm="input-xs" ngClass.md="input-xs" ngClass.lg="input-xs">
                <mat-label>Username</mat-label>
                <input matInput placeholder="email" type="" formControlName="email">
                <mat-error>Email Address is required</mat-error>
                <mat-hint style="margin-left: -10px;">You can use letters,numbers & periods</mat-hint>
            </mat-form-field>
        </div>
        <div class="innerDiv">
            <a href="#" class="myAccount">Use my current email address instead</a>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutAlign.xs="space-between">
            <mat-form-field appearance="outline" ngClass.xs="input-xs" ngClass.sm="input-xs" ngClass.md="input-xs" ngClass.lg="input-xs">
                <mat-label>Password</mat-label>
                <mat-error>Password must be at least 8 characters</mat-error>
                <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>

            <mat-form-field appearance="outline" ngClass.xs="input-xs" ngClass.sm="input-xs" ngClass.md="input-xs" ngClass.lg="input-xs">
                <mat-label>Confirm </mat-label>
                <input matInput placeholder="ConfirmPassword" type="password" formControlName="confirmPassword">
                <mat-error>Password is required </mat-error>
            </mat-form-field>
        </div>
        <mat-hint class="password-indicator-text">Use 8 or more characters with mix of letters,numbers & symbols
        </mat-hint>
        <div class="innerDiv">
            <input type="checkbox">
            <a>Show Password</a>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between end" class="btn-layout">
            <button mat-button color="primary" class="btn-instead" routerLink="/login">Signin instead</button>
            <button mat-raised-button class="btn-create">Next</button>
        </div>
    </div>
    

    <div fxLayout="column" fxLayoutAlign="none center" ngClass.xs="img-xs" ngClass.sm="img-xs" ngClass.md="img-xs" ngClass.lg="img-xs">
        <img src="../../../assets/googlelogo.svg" ngClass.xs="img1-xs" ngClass.sm="img1-xs" ngClass.md="img1-xs" ngClass.lg="img1-xs" alt="" style="width: 40vh;margin-top: -60px;">
        <pre class="section-pre" ngClass.xs="note-xs" ngClass.sm="note-xs" ngClass.md="note-xs" ngClass.lg="note-xs">One account. All of Fundoo
     working for you.</pre>
    </div>
<div>
    <form>